/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1, h2 {
    color: #333;
}

/* Dashboard Layout */
.dashboard {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    background-color: #333;
    color: white;
    width: 200px;
    padding: 20px;
}

.sidebar h2 {
    color: #fff;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.sidebar ul li a:hover {
    color: #aaa;
}

/* Main Content */
.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

#addStockPage {
    /* background: #eee; */
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1.3rem;
}

.btn {
    text-align: center;
}

.btn button {
    border-radius: 10px;
    outline: none;
    border: 1px solid #999;
    transition: all 0.3s ease-in;
    font-size: 1.3rem;
    cursor: pointer;
}

.btn button:hover {
    background: #777;
}

form input {
    height: 2rem;
    border-radius: 10px;
    outline: none;
    border: 1px solid #333;
    padding: 0.4rem 0.7rem;
    font-size: 1.4rem;
}

form button {
    height: 2.5rem;
    width: 50%;
}

.actionBtn {
    border: 1px solid #999;
    font-size: 1.3rem;
    cursor: pointer;
    padding: 0.3rem 1rem;
    margin: 0 1.4rem;
    border-radius: 8px;
}

#delete {
    background: red;

}

#edit {
    background: dodgerblue;
    color: #ddd;

}